/* 
COLORS:
#1f2937 -Hero,Footer,header text,quote
#f9faf8 - Text
#3882f6 - button
#e5e7eb - Quote section background color

TEXT SIZES
48px - Hero Main 
36px - info header, quote
24px - header, logo 
18px - hero secondary 

FONT
- roboto



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f9faf8;
}
/* Reuseable */

.page {
  width: 1000px;
  margin: 0 auto;
}

/* Header */
.container {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.link-box {
  display: flex;
  list-style: none;
}

a:link,
a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #3882f6;
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.hero-main-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
}

.btn {
  color: #f9faf8;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  background-color: #3882f6;
  height: 40px;
  width: 130px;
  cursor: pointer;
}

.hero-img {
  height: 300px;
  width: 300px;
}

/* Information header */

.info-box-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 30px;
}

.info-header {
  color: black;
  font-size: 36px;
  font-weight: bolder;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-item p {
  color: black;
}

.info-img {
  height: 120px;
  width: 120px;
}

/* quote section */
.quote-container {
  padding: 90px 50px;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.quote-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.author {
  align-self: flex-end;
}

/* call to action section */
.cta-container {
  /* background-color: #1f2937; */
  padding: 90px;
}

.cta-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px;
}

.btn-cta {
  border: 2px solid white;
}

/* footer */
.footer {
  background-color: #1f2937;
  padding: 50px 0;
  color: #f9faf8;
  text-align: center;
}
